@import "../../scss/common.scss";

.buttons > h3 {
    color: $base-blue;
}

.buttons > h3:hover {
    cursor: pointer;
}

.buttons > button {
    // margin-left: 100px;
    display: inline;
    padding: 5px 26px;
    background-color: $base-blue;
    border: none;
    color: #fff;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}