<div fxLayoutAlign="center center" fxFlexFill class="password-reset">
    <mat-card fxFlex="30">
      <mat-card-subtitle>
        <app-title class="title"></app-title>
      </mat-card-subtitle>
      <div class="sub-heading">
        <h1>Forgot Password</h1>
      </div>
      <div>
        <form action="" fxLayout="column" fxLayoutAlign="stretch">
            <mat-form-field hideRequiredMarker appearance="outline">
              <mat-label>Enter registered Email</mat-label>
              <input matInput placeholder="" type="email" required pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" [formControl]="email" required>
            </mat-form-field>
        </form>
        <div class="buttons">
            <h3 [routerLink]="['/login']">Login into Account</h3>
            <button [routerLink]="['/resetPassword']" type="submit" (click)="submit()">Send Link</button>
        </div>
      </div>
    </mat-card>
  </div>
  
