@import "../../scss/color.scss";

.login{
    padding-left: 30px;
}

h4 {
    color: $base-blue;
}

h4:hover {
    cursor: pointer;
}

.buttons > h3 {
    color: $base-blue;
}

.buttons > h3:hover {
    cursor: pointer;
}

.buttons > button {
    display: inline;
    padding: 5px 26px;
    background-color: $base-blue;
    border: none;
    color: #fff;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}